:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: “Poppins”;}
body{background-color: rgb(0, 0, 0);}
* {margin: 0 10px;
    padding: 10px 0;}
.cabeçalho{background-color: rgb(20, 0, 45);
color: white;
display: flex;
justify-content: space-around;
padding: 15px 0;}
.cabeçalho-imagem{
    width: 15%;}
.itens{display: inline-block;
    margin: 0 15px;
    font-size: 20px;}
section{
background-image: linear-gradient(black,rgb(0, 0, 0));
color: white;
display:flex;
}
h2{padding: 60px 0;}
p{width: 40%}
img{width: 35%;}